.trust_container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin-top:3rem;
}

.trust_container h1{
    font-family: Bricolage Grotesque;
font-weight: 700;
font-size: 48px;
line-height: 57.6px;
letter-spacing: -1.92px;
text-align: center;
vertical-align: middle;
color:#5D64EE;
}

.trust-bg{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:2rem;

}

.trust-bg img{
    width:95%;
}

.why-use{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.why-use .use-text{
    margin:1rem auto;
}
.why-use h1{
    font-family: Bricolage Grotesque;
font-weight: 700;
font-size: 48px;
line-height: 57.6px;
letter-spacing: -1.92px;
text-align: center;
vertical-align: middle;
color:#2D35E9;
}

.tab {
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: center;
    width:95%;
}
.tab .row{
    min-height:auto;
    margin-top:4rem;
}

.content {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    background:#F2FAEB;
    border-radius: 1rem;
}

.content h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #1117A2;
}

.content p {
    font-family: 'General Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
    vertical-align: middle;
    color: #5C5C70;
}

.content .tab-img{
    width:100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.account_setup{
    margin-top:3rem;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding:2rem;


}

.account_setup .title h1{
    font-family: Bricolage Grotesque;
font-weight: 700;
font-size: 48px;
line-height: 57.6px;
letter-spacing: -1.92px;
text-align: center;
vertical-align: middle;
color:#5D64EE;
}

.account_setup p{
    font-family: General Sans;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.15px;
text-align: center;
color:#363F52;
}

.account_setup .row{
    margin:4rem auto!important;
}


.features_ex{
    background:#E8E9FD;
    padding:3rem;
}


@media  screen and (max-width:768px) {
  
    .content p{
        font-size:13px;
        line-height:19px;
    }

    .content h2{
        font-size:16px;
    }

    .trust_container h1{
        font-size: 32px;
        line-height: 37.6px;
    }

    .why-use h1{
        font-size: 34px;
        line-height: 0;
        margin-top:2rem;
    }

    .tab .row {
        min-height: auto;
        margin-top: 2rem;
    }

    .account_setup .title h1{
        font-size:37px;
line-height: 42.6px;
    } 

    .account_setup .row {
        margin: 2rem auto !important;
    }
}
