.hero_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 142vh;
  position: relative;
  flex-direction: column;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.hero_container .hero_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; 
   /* animation: zoomIn 1.5s ease-in-out; */
}
.hero_container .hero_content {
  display: flex;
  margin-top: 2%;
  align-items: start;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  padding: 2rem 2.9rem;
}
.hero_container .hero_content .band_img {
  width: 18%;
  animation: slideInFromLeft 1.5s ease-in-out;
  z-index: 5;
}

.hero_container .hero_content .hero_text {
  z-index: 5;
  margin: 0.8rem 0;
}

.hero_container .hero_content .hero_text h1 {
  font-family: Bricolage Grotesque;
  animation: slideInFromLeft 1.5s ease-in-out;
  font-weight: 700;
  font-size: 82px;
  line-height: 70.4px;
  letter-spacing: -2.56px;
  vertical-align: middle;
  color: #ffffff;
}

.hero_container .hero_content .hero_text p {
    animation: slideInFromRight 1.5s ease-in-out;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.32px;
  vertical-align: middle;
  color: #ffffff;
}

.hero_container .hero_content .download_btn {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1.3rem;
  z-index: 5;
}

.hero_container .hero_content .download_btn img {
  width: 13%;
  animation: fadeIn 2s ease-in-out;
}

.sub_text span {
    font-size: 1rem;
    color: #fff;
    animation: fadeIn 2.5s ease-in-out;
  }

.download_btn .sub_text span:nth-child(1) {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  line-height: 0.6px;
  vertical-align: middle;
  color: #ffffff;
}


.download_btn .sub_text .rev {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.6px;
  letter-spacing: -0.32px;
  
  vertical-align: middle;
  color: #ffffff!important;
}



/* General Animation Keyframes */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-70px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  @media screen and (max-width:1024px) {
 .hero_container {
       height: 105vh;
      }
  }

@media screen and (max-width: 768px) {
    .hero_container {
        height: 105vh;
       }

       .hero_content{
        margin-top: -3%;
       }

       .hero_container .hero_content .hero_text h1 {
        animation: slideInFromLeft 1.5s ease-in-out;
        font-size: 70px;
        line-height: 58.4px;
    }
}

@media screen and (max-width: 425) {
  .hero_container {
    min-height: 120vh;
  }

  .hero_container .hero_content {
    display: flex;
    margin-top: -22%;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    padding: 2rem 2.9rem;
}

  
    .hero_container .hero_content .hero_text h1 {
        animation: slideInFromLeft 1.5s ease-in-out;
        font-size: 35px;
        line-height: 32.4px;
    }
}
