.hero-container {
    height: auto;
    border-radius: 1rem;
    margin-top: 3rem;
    position: relative;
}

.bg-img{
    position: absolute;
    top:0;
    left:0;
    min-height:70vh;
    z-index: -1;
    width:100%;
}

.hero{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position:relative;
    width:95%;
    margin:0 auto;
    height:auto;
    z-index: 2;
}

.hero .badge{
    display:block!important;
    width:20%;
    margin-top:3.5rem;
}

.hero .hero-text h1{
    margin-top: 1rem;
    font-family: Bricolage Grotesque;
    font-weight: 700;
    font-size: 82px;
    line-height: 70.4px;
    letter-spacing: -2.56px;
    text-align: center;
    vertical-align: middle;
    
    color:#5D64EE;
}

@media screen and (max-width:425px) {
    .hero .hero-text h1{
        font-size:55px;
        line-height: 48.48px;
    }
}
.hero .hero-text p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.32px;
    text-align: center;
    vertical-align: middle;
    
color:#5C5C70;
}

.downloader{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:.6rem;
}

.downloader img{
    width:12%;
}

@media screen and (max-width:768px){
    .hero .badge{
        display:block!important;
        width:50%;
        margin-top:3.5rem;
    }

    .downloader img{
    width:23%;
}

.image-stack{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:1.4rem;
    gap:1.5rem;
}
.image-stack img{
    width:25%;

}

.stack-text{
    
}

.stack-text span:nth-child(1){
    font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 21.6px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#3AA0B0;
margin:0;
}





}


.image-stack{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:1.4rem;
    gap:1.5rem;
}
.image-stack img{
    width:25%;

}


.hero-bottom {
    position: relative;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    margin-top:1.5rem;
}

.hero-bottom img {
}

.blur {
    position: absolute;
    width: 60%;
    height: auto;
    object-fit: cover; 
    filter: blur(10px); 
    z-index: 1; 
}

.phone {
    position: relative;
    width: 22%; 
    bottom: 0;
    height:75%;
    z-index: 2; 
}